@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rekry</h1>
    <p class="lead">Rekrytointi tehtävät.</p>
    <p><a href="../Default/Index" class="btn btn-primary btn-lg">Tehtävät &raquo;</a></p>
</div>